
useDynLib(DPw)

import(fOptions)
export(
       "MCMC.DPw","MCMC.DPw.dp","getM","sprob.semi","get.subset","getden",
       "CDF.eBayes","nu","dweib","sprob","H","pr.discrete","F","F_inv","beliefToW",
       "muinv","simdata","Nuniq", "useSamp",
       "TL","ASTM","ASTMTL","ASTMMed"
       )





